.folded_corner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 360px;
	height: 530px;
	margin: 4vh auto;
	padding: 40px;
	color: #fff;
	font: 20px "Rosario", sans-serif;
	background: rgb(28, 28, 28);
	background: linear-gradient(
		90deg,
		rgba(28, 28, 28, 1) 0%,
		rgba(100, 20, 154, 1) 50%,
		rgba(34, 37, 98, 1) 100%
	);
	background: linear-gradient(
				to right bottom,
				transparent 50%,
				rgba(0, 0, 0, 0) 0
			)
			no-repeat 100% 100% / 1rem 1rem,
		linear-gradient(
			-45deg,
			transparent 0.75rem,
			rgba(28, 28, 28, 1) 0%,
			rgba(100, 20, 154, 1) 50%,
			rgba(34, 37, 98, 1) 100% 0
		);
	transition: transform 0.5s ease-out;
}

.folded_corner:hover {
	transform: translateY(-20px);
}

.folded_corner::before {
	content: " ";
	position: absolute;
	bottom: 2em;
	right: 0;
	background: linear-gradient(
			to right bottom,
			transparent 50%,
			rgba(0, 0, 0, 0) 0
		)
		100% 100% no-repeat;
	width: 2em;
	height: 2em;
	transform: rotate(180deg);
}

.main_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 30px;
}

.folded_corner h3 {
	font-size: 1.5rem;
}

.card_img {
	width: 370px;
	height: 370px;
}

.main_container2 {
	margin-top: 20px;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	padding: 0px 219px;
}

.button-48 {
	margin-top: 15px;
	appearance: none;
	/* background-color: #1c1930; */
	background: linear-gradient(
				to right bottom,
				transparent 50%,
				rgba(0, 0, 0, 0) 0
			)
			no-repeat 100% 100% / 1rem 1rem,
		linear-gradient(
			-45deg,
			transparent 0.75rem,
			rgba(28, 28, 28, 1) 0%,
			rgba(100, 20, 154, 1) 50%,
			rgba(34, 37, 98, 1) 100% 0
		);
	border: 2px solid white;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: Clarkson, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 1em;
	/* margin: 0; */
	opacity: 1;
	outline: 0;
	padding: 0.5em 2em;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-rendering: geometricprecision;
	text-transform: uppercase;
	transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
		background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
		color 100ms cubic-bezier(0.694, 0, 0.335, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	white-space: nowrap;
}

.button-48:before {
	animation: opacityFallbackOut 0.5s step-end forwards;
	backface-visibility: hidden;
	background: linear-gradient(
		90deg,
		rgba(28, 28, 28, 1) 0%,
		rgb(12, 22, 208) 100%
	);
	clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform: translateZ(0);
	transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
		-webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	width: 100%;
}

.button-48:hover:before {
	animation: opacityFallbackIn 0s step-start forwards;
	clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
	background-color: #4f95da;
}

.button-48 span {
	z-index: 1;
	position: relative;
}
